 * {
    padding: 0;
    margin: 0;
}
.cdm-border {
    border:1.2px solid rgba(0,0,0,.12);
}
.mdui-theme-layout-dark .cdm-border {
    border:1.2px solid rgba(255,255,255,.12);
}
.cdm-bg{
    color:rgba(0,0,0,.87)!important;
    background-color:#fff!important
}
.mdui-theme-layout-dark .cdm-bg{
    color:#fff!important;
    background-color:#212121!important
}

.cdm-title1 {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}
.mdui-theme-layout-dark .cdm-title1{
  color: rgba(255, 255, 255, 0.7);
}

.cdm-hover {
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.cdm-hover:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.cdm-transition {
  -webkit-transition-duration: 0.3s;
           transition-duration: 0.3s;
}

.cdm-shadow {
  box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 1px 6px 0 rgba(32,33,36,.28);
}

.mdui-theme-layout-dark .cdm-hover:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.mdui-drawer {
    position:fixed;
    top:0px;
    padding-top:104px;
    bottom:0;
    left:0;
    z-index:5000;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:calc(100% - 56px);
    max-width:280px;
    margin:0;
    overflow-x:hidden;
    overflow-y:auto;
    white-space:nowrap;
    will-change:transform;
    -webkit-overflow-scrolling:touch
}

.mdui-appbar-with-searchbar {
  padding-top: 64px;
}
.search-bar {
  display: flex;
  margin: 7px 8px 8px;
  height: 49px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .24);
  background: #FAFAFA;
  align-items: center;
  border-radius: 2px;
}
.search-bar > input {
  flex: 1 1;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 100%;
  margin: 0 16px;
  outline: none;
  color: rgba(0, 0, 0, .87);
}
.search-bar > input::placeholder {
  color: rgba(0, 0, 0, .54);
}
.search-bar > .mdui-icon {
  margin: 0 16px;
}
.search-bar > .mdui-btn-icon {
  margin: auto 11px;
}
/*暗色模式支持*/
.mdui-theme-layout-dark .search-bar {
  background: #424242;
}
.mdui-theme-layout-dark .search-bar > input {
  color: white;
}
.mdui-theme-layout-dark .search-bar > input::placeholder {
  color: rgba(255, 255, 255, .70);
}